<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Donate Page</title>
    <link rel="stylesheet" type="text/css" href='public/donate.css'>
</head>

<body>
    <h1 id="title">Donate</h1>
    <div id="form-outer">
        <p id="description">Every penny counts :)</p>
        <form id="survey-id" action="" method="POST">
            <div class="labels">
                Name:
            </div>
            <div class="labels-input-fields">
                <input type="text" name="fname">
            </div>
            <div class="labels">
                Email:
            </div>
            <div class="labels-input-fields">
                <input type="email" name="email">
            </div>
            <div class="labels">
                Number:
            </div>
            <div class="labels-input-fields">
                <input type="tel" name="tel">
            </div>
            <div class="labels">
                    Donation Amount:
                </div>
                <div class="labels-input-fields">
                    <input type="number" name="number" placeholder="$2.00">
                </div>
        </form>
    </div>
</body>